{% extends 'base/base.html' %}
{% load static %}
{% block title %}Contact us{% endblock %}
  <!-- about section -->
{% block content %}
            <div class="section-header text-center" style="margin-top: 30px;" id="contact">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.0756977594074!2d51.3398935851632!3d35.69975478019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dfe05737fbcc9%3A0x274833de5c05c70c!2z2YXbjNiv2KfZhiDYotiy2KfYr9uM2Iwg2KrZh9ix2KfZhtiMINin24zYsdin2YY!5e0!3m2!1sfa!2s!4v1644267480334!5m2!1sfa!2s"
                   width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe> <br>
{#            <div style="text-align: center">#}
<div class="container" style="text-align: center;alignment: center;align-items: center">
      <div class="row">
        <div class="col-lg-12">
          <div class="info_contact">
            <h5>
              <a href="" class="navbar-brand">
                <span>
                  SADAF SHOP
                </span>
              </a>
            </h5>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Tehran Azadi Square
            </p>
            <p>
              <i class="fa fa-phone" aria-hidden="true"></i>
              09376051315
            </p>
            <p>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              Alirezahn1@yahoo.com
            </p>
          </div>
        </div>
        </div>
            </div>

  <!-- end client section -->

 {% endblock %}