{% load static %}
<section class="info_section ">
    <div class="container">

      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              <a href="{% url 'products:home' %}" class="navbar-brand">
                <span>
                  SADAF SHOP
                </span>
              </a>
            </h5>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Tehran Azadi Square
            </p>
            <p>
              <i class="fa fa-phone" aria-hidden="true"></i>
              09376051315
            </p>
            <p>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              Alirezahn1@yahoo.com
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Information
            </h5>
            <p>
                Here is SADAF SHOP, your number one source for electronic devices.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Link
            </h5>
            <ul>
              <li>
                <a href="{% url 'products:home' %}">
                  Home
                </a>
              </li>
              <li>
                <a href="{% url 'products:about' %}">
                  About
                </a>
              </li>
              <li>
                <a href="{% url 'products:product' %}">
                  Products
                </a>
              </li>
              <li>
                <a href="{% url 'products:why' %}">
                  Why Us
                </a>
              </li>
              <li>
                <a href="{% url 'products:contact_us' %}">
                  contact us
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="{% url 'orders:sendemail' %}" method="post">
              <input type="email" placeholder="Enter your email" name="email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="https://wa.me/989376051315?text=I'm%20interested%20in%20chat" target="_blank">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <b >SADAF SHOP</b>
      </p>
    </div>
  </footer>