{% extends 'base/base.html' %}
{% block title %} Change password {% endblock %}
{% block content %}
  <div class="container" style="margin: 30px">
        <div class="row ">
    <div class="col-md-6">
        <div class="form-group-lg">
            <div class="card shadow  ">
                <div class="card-body">
    <h1>Change Password </h1> <br>



    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class=" mt-2">
                        <label for="">Old password</label><br>
                        {{ form.old_password }}
                    </div>
        <div class="  mt-2">
                        <label for="">New password </label> <br>
                       {{ form.new_password1 }}
                        {{ form.new_password1.help_text }}
                    </div>
        <div class="  mt-2">
                        <label for="">New password confirmation </label>
                       {{ form.new_password2 }}
                    </div>
        <br>
                     {% if form.errors %}
        <div class="card border bg-gradient-info">
        {{ form.errors }}
        </div>
                     {% endif %}
        <br>
        <input type="submit"  class="btn btn-primary float-right" value="Confirm">
    </form>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}